.vscode/
#
# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
#
# Ansible
*.retry
infra-*.json
jdauphant.nginx
vault.key
#
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
